.icon-3d {
  width: 30px;
  height: 30px;
}
.icon-arch-window {
  width: 85.1px;
  height: 92px;
}
.icon-arrow-back {
  width: 18px;
  height: 17px;
}
.icon-arrow-bottom {
  width: 8px;
  height: 5px;
}
.icon-arrow-left {
  width: 26px;
  height: 18px;
}
.icon-arrow-next {
  width: 18.2px;
  height: 34.4px;
}
.icon-arrow-prev {
  width: 18.2px;
  height: 34.4px;
}
.icon-arrow-right {
  width: 11px;
  height: 18px;
}
.icon-balconies {
  width: 151.3px;
  height: 92px;
}
.icon-calc-second {
  width: 26px;
  height: 26px;
}
.icon-calc {
  width: 50px;
  height: 50px;
}
.icon-calendar {
  width: 24px;
  height: 22px;
}
.icon-career {
  width: 28px;
  height: 24px;
}
.icon-circle-arrow {
  width: 16px;
  height: 16px;
}
.icon-close-md {
  width: 18px;
  height: 18px;
}
.icon-close {
  width: 25px;
  height: 25.3px;
}
.icon-compare {
  width: 30px;
  height: 27px;
}
.icon-doc {
  width: 19px;
  height: 22px;
}
.icon-edit {
  width: 24px;
  height: 24px;
}
.icon-email {
  width: 36px;
  height: 18px;
}
.icon-filter {
  width: 50px;
  height: 52px;
}
.icon-huge-arrow-left {
  width: 19px;
  height: 12px;
}
.icon-huge-arrow-right {
  width: 19px;
  height: 12px;
}
.icon-list {
  width: 30px;
  height: 30px;
}
.icon-location {
  width: 11px;
  height: 16px;
}
.icon-mail-send {
  width: 16px;
  height: 17.6px;
}
.icon-mail {
  width: 30px;
  height: 21px;
}
.icon-pdf {
  width: 38px;
  height: 38px;
}
.icon-phone-fax {
  width: 16px;
  height: 17.6px;
}
.icon-phone-ring {
  width: 16px;
  height: 16px;
}
.icon-phone {
  width: 26px;
  height: 26px;
}
.icon-pic {
  width: 16px;
  height: 14px;
}
.icon-pin {
  width: 22px;
  height: 31px;
}
.icon-planet {
  width: 18px;
  height: 18px;
}
.icon-plastic-door {
  width: 85.1px;
  height: 92px;
}
.icon-plastic-window {
  width: 92.1px;
  height: 92px;
}
.icon-play-md {
  width: 30px;
  height: 30px;
}
.icon-play {
  width: 16px;
  height: 16px;
}
.icon-plus {
  width: 18px;
  height: 18px;
}
.icon-pointer-map {
  width: 32px;
  height: 30px;
}
.icon-print {
  width: 40px;
  height: 38px;
}
.icon-profile {
  width: 40.4px;
  height: 62px;
}
.icon-promo {
  width: 16px;
  height: 16px;
}
.icon-reference {
  width: 40px;
  height: 50px;
}
.icon-review {
  width: 50px;
  height: 40px;
}
.icon-search {
  width: 24px;
  height: 24px;
}
.icon-share {
  width: 31.3px;
  height: 37.7px;
}
.icon-star {
  width: 16px;
  height: 15px;
}
.icon-tape {
  width: 33.7px;
  height: 30.1px;
}
.icon-trash {
  width: 20px;
  height: 22px;
}
.icon-user {
  width: 30px;
  height: 30px;
}
.icon-video {
  width: 48px;
  height: 48px;
}
.icon-window-type-2 {
  width: 30px;
  height: 33px;
}
.icon-window-type-3 {
  width: 47px;
  height: 37px;
}
.icon-window-type-4 {
  width: 38px;
  height: 42px;
}
.icon-window-type-5 {
  width: 44px;
  height: 45px;
}
.icon-window-type-6 {
  width: 30px;
  height: 45px;
}
.icon-window-type-7 {
  width: 38px;
  height: 49px;
}
.icon-window-type {
  width: 24px;
  height: 33px;
}
.icon-window {
  width: 22px;
  height: 20px;
}
.icon-wrench {
  width: 28px;
  height: 28px;
}
.icon-login {
    width: 26px;
    height: 22px;
}