doctype html
html
	head
		meta(charset="utf-8")
		title Как выбрать пластиковые окна?
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main.main__content
			
			.main__breadcrumb
				.container
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item: a(href="#").breadcrumb__link Главная
							li.breadcrumb__item: a(href="#").breadcrumb__link Справочник покупателя
							li.breadcrumb__item: a(href="#").breadcrumb__link Статьи о пластиковых окнах
							li.breadcrumb__item: a(href="#").breadcrumb__link Как выбрать пластиковые окна?

			.main__section
				.container
					.main__section-body
						.pattern-left-md

						.row
							.col-md-7.col-sm-7
								article.article
									h1 Как выбрать пластиковые окна?

									.article__images
										// Не знаю зачем, но в макете на десктопе было 3 картинки, а на мобилке почему-то выводилась одна
										img(src="images/tmp/article_example.jpg")
										img(src="images/tmp/article_example2.jpg").hidden-xs
										img(src="images/tmp/article_example3.jpg").hidden-xs

									p При всем многообразии систем профилей от VEKA, пластиковые окна выбрать довольно нелегко. Количество камер, ширина стеклопакета и монтажные размеры, ценовая политика и, конечно же, качество окна — разобраться во всем этом сразу сможет не каждый.
									p Когда Вы решаете, какие ставить окна, важно понимать, что окно – это не один монолитный предмет, а конструкция из нескольких элементов (профиль, стеклопакет, фурнитура). Как раз качество и характеристики составных частей определяют свойства конечного продукта. Иными словами, чтобы узнать, как выбрать пластиковые окна, нужно знать, какие критерии предъявляются к выбору входящих в их состав компонентов. Также при выборе пластикового окна необходимо учитывать тип. 
									p Также при выборе пластикового окна необходимо учитывать тип помещения и климатические особенности региона. Окна должны защищать от перепадов температур и не пропускать шум. И еще один немаловажный аспект – они должны хорошо дополнять интерьер и не требовать специфического ухода.
									p Конечно, Вы можете обратиться к профессионалам, они посоветуют, как выбрать стеклопакет, профиль и фурнитуру, но важно и самому понимать, за что Вы платите деньги и что в итоге получаете.
									h5 Как выбрать профиль 
									p Вы можете поставить на выбор окна из профиля VEKA, шириной от 58 до 90 мм. Количество камер определяется монтажной шириной и рассчитано исходя из оптимальных показателей теплозащиты. В норме, для обычной городской квартиры достаточно профиля 70 мм; более широкий профиль используется в загородных домах или в регионах с суровыми зимами.
									h5 Характеристики стеклопакета
									p Для офисных и неотапливаемых помещений лучше выбирать одинарный стеклопакет. Для квартир и домов стеклопакет должен быть как минимум двойной. Как выбрать стеклопакет для остекления торгового помещения, мансарды в жилом доме и стоит ли купить двухкамерный пакет для окна в городской квартире, Вам расскажут менеджеры в офисах наших партнеров.
									h5 Фурнитура
									p Если говорить о фурнитуре – это тот случай, когда экономить нельзя. Именно она находится в постоянной нагрузке. Некачественная фурнитура может привести к неплотному прилеганию створок, заклиниванию и, в конечном итоге, к замене. Выбирайте только качественную фурнитуру проверенных производителей, чтобы не пришлось платить дважды.
									h5 Цены
									p Стоимость и качество окна тесно связаны. Как правило, дешевле стоят окна из профиля класса В, а также конструкции, изготовленные с использованием дешевой фурнитуры. Прежде, чем ставить дешевое окно, попросите сертификаты и узнайте из чего.

									.article__video
										.video-frame
											iframe(width="854" height="480" src="https://www.youtube.com/embed/TKjrE4fkfig" frameborder="0" allowfullscreen)

										h4 Важные параметры пластиковых окон

									p Помните, что совокупная экономия на стоимости окна может составить всего лишь 20%, а потерянное качество и необходимость скорой замены обойдутся в разы дороже. Если Вы не знаете, какие окна выбрать, обратитесь к нашим партнерам и закажите изготовление и монтаж под ключ окон из профиля VEKA. Мы уверены, среди множества вариантов Вы найдете то, что устроит вас по цене и качеству.

									p Официальный сайт VEKA поможет вам правильно подойти и выбрать оконные конструкции для вашей квартиры и дома. Полезные советы и видео, контакты официальных партнеров с удобной формой поиска и возможность вызвать замерщика. Эти и другие возможности на нашем сайте: <a href="#">http://www.veka.ru/</a>
								
			.gray__section.similar__section
				.container
					.main__section-body
						.section__title Еще статьи о пластиковых окнах

						.similar-slider.js-similarSwiper
							.swiper-mobile__nav
								.huge-arrow__left: +icon('huge-arrow-left')
								.huge-arrow__right: +icon('huge-arrow-right')

							.swiper-container
								.swiper-wrapper
									.swiper-slide
										a(href="#").tile__elem
											.tile__image: img(src="images/tmp/glass_example.jpg")
											.tile__title 
												+icon('arrow-right')
												|Однокамерные стеклопакеты
											p Однокамерный стеклопакет состоит из двух листов стекла, между которыми расположена одна воздушная камера. Такой стеклопакет является самым дешевым, ширина однокамерного стеклопакета - 24мм, возможен вариант и 32мм.
									.swiper-slide
										a(href="#").tile__elem
											.tile__image: img(src="images/tmp/glass_example2.jpg")
											.tile__title 
												+icon('arrow-right')
												|Двухкамерные стеклопакеты
											p Двухкамерный стеклопакет - в котором используются три стекла и две воздушные камеры между ними. Дополнительная камера увеличивает тепло - и шумоизоляцию стеклопакета, но, увеличивает и вес и нагрузку на петли, однако, при использовании качественной фурнитуры это никак не влияет на срок эксплуатации окна.
									.swiper-slide
										a(href="#").tile__elem
											.tile__image: img(src="images/tmp/glass_example3.jpg")
											.tile__title 
												+icon('arrow-right')
												|Энергосберегающие стеклопакеты
											p Энергосберегающие стеклопакеты изготавливаются из стекла, поверх которого наносится низкоэмиссионное покрытие. Это позволяет пропускать солнечную энергию во внутреннюю часть помещения, тепловые потоки свободно отражать, сохраняя ,таким образом, тепло.
									.swiper-slide
										a(href="#").tile__elem
											.tile__image: img(src="images/tmp/glass_example4.jpg")
											.tile__title 
												+icon('arrow-right')
												|Декоративная раскладка
											p Шпросы - декоративные накладные алюминиевые профили, которые устанавливаются между стёклами, внутри стеклопакета для украшения окна.
								
								.swiper-pagination.visible-xs


			include _parts/_fast-link

		include _parts/_footer

		include _parts/_scripts