doctype html
html
	head
		meta(charset="utf-8")
		title Документы
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main.documents
			.container
				.breadcrumb
					ul.breadcrumb__list
						li.breadcrumb__item: a(href="#").breadcrumb__link Главная
						li.breadcrumb__item: a(href="#").breadcrumb__link Личный кабинет
						li.breadcrumb__item: a(href="#").breadcrumb__link Документы

				h1.documents__title Документы

				section.documents__block
					h3.documents__subtitle Техническая документация
					.documents__flex
						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Каталоги продукции

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Сертификаты и протоколы  испытаний

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Изготовление и монтаж

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Статьи и брошюры

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Расчётные таблицы

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle ГОСТы и СНИПы

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Плакаты профильных сечений

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Архив документов



				section.documents__block
					h3.documents__subtitle Маркетинговые материалы
					.documents__flex
						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Интернет-баннеры

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Материалы ТВ-кампания 2017

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Плакаты из каталога

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Artline

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Листовки и буклеты

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Рекламные макеты и материалы для работы

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Логотип фирменный стиль Veka

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle 3-D модели профелей века

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Видеоролики

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Digital-marketing

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Фотогалерея

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Медиаданные


				section.documents__block
					h3.documents__subtitle Дизайнерам и архитекторам
					.documents__flex
						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Монтаж изделий

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Учебные материалы

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Закупки и тендеры

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Электронный каталог профилей Veka

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Материалы для проектирования

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Цветовая карта

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Обзор систем Veka (каталог)

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Папка архитектора

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Практическое пособие  проектировщика

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document2.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document3.jpg", alt="")
							h3: a(href="#").documents__doctitle Справочник проектировщика


					section.documents__block
					h3.documents__subtitle Информация отдела продаж
					.documents__flex
						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Списки стандартных профилей


					section.documents__block
					h3.documents__subtitle Тренинги и семинары
					.documents__flex
						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Программы и полезные материалы

					section.documents__block
					h3.documents__subtitle WHS Halo
					.documents__flex
						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Руководство по использованию  фирменного стиля VHS

						.documents__flexitem
							a(href="#").documents__images-box
								.documents__image-box
									img.documents__image(src="../images/document.jpg", alt="")
								.documents__image-box
									img.documents__image(src="../images/document4.jpg", alt="")
							h3: a(href="#").documents__doctitle Информация


		include _parts/_footer

		include _parts/_scripts
