doctype html
html
	head
		meta(charset="utf-8")
		title Двухкамерные стеклопакеты
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main.main__content
			
			.main__breadcrumb
				.container
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item: a(href="#").breadcrumb__link Главная
							li.breadcrumb__item: a(href="#").breadcrumb__link Продукция
							li.breadcrumb__item: a(href="#").breadcrumb__link Стеклопакеты
							li.breadcrumb__item: a(href="#").breadcrumb__link Двухкамерные стеклопакеты

			.main__section
				.container
					.main__section-body
						.pattern-left-md

						article.article

							h1 Двухкамерные стеклопакеты

							img(src="images/tmp/glazing_window_example.jpg").image-right.shadow-image-align

							p Стеклопакет — это светопрозрачная конструкция строительного назначения из нескольких стёкол, соединенных (склеенных) между собой в порядке: стекло — воздушная камера (газ или воздух) — стекло — и т. д. Предназначение стеклопакета как замены стёкол — в повышении такой характеристики окна, как сопротивление теплопередаче, поскольку воздух и некоторые другие газы плохо пропускают тепло. Также стеклопакет, в отличии от обычного стекла, способствует дополнительной шумоизоляции.
							p Метод скрепления стёкол — металлическая или пластиковая дистанционная рамка. Пластиковая рамка незначительно повышает сопротивление теплопередаче. Конструкция стеклопакета закрепляется тиоколом и бутилом.
							p Между стеклами чаще всего находится воздух, однако для улучшения характеристик сопротивления теплопередаче внутрь стеклопакета могут быть закачаны другие газы, имеющие меньшую теплопроводность — углекислый газ, аргон, ксенон, их смеси и др. Одноатомные газы с большим молекулярным весом резко снижают теплопроводность стеклопакета, но увеличивают его цену.
							h5 Все виды стеклопакетов для установки в окна и двери
							ul.list
								li однокамерные и двухкамерные прозрачные стеклопакеты;
								li энергосберегающие стеклопакеты с низкоэмиссионным стеклом;
								li стеклопакеты с «теплой» рамкой;
								li мультифункциональные стеклопакеты (защищающие)
								li одновременно от холода зимой и от жары летом);
								li самоочищающиеся стеклопакеты;
								li стеклопакеты с использованием декоративного стекла различных цветов;
								li стеклопакеты с внутренней раскладкой (фальшпереплет);
								li стеклопакеты с заклеенным стеклом и триплексом.
							.table
								table
									tr
										th Тип&nbsp;стеклопакета
										th Конструкция стеклопакета
										th Толщина стеклопакета, мм
										th Сопротивление теплопередачи, (м2°С)/Вт
										th Сопротивление теплопередачи, (м2°С)/Вт
										th Коэффициент звукоизоляции, дб
									tr
										td Двухкамерный
										td 4-3-4-9-4
										td 30
										td 0,53-0,55
										td 0,53-0,55
										td 35-37
									tr
										td Двухкамерный
										td 4-3-4-9-4
										td 30
										td 0,53-0,55
										td 0,53-0,55
										td 35-37
									tr
										td Двухкамерный
										td 4-3-4-9-4
										td 30
										td 0,53-0,55
										td 0,53-0,55
										td 35-37
									tr
										td Двухкамерный
										td 4-3-4-9-4
										td 30
										td 0,53-0,55
										td 0,53-0,55
										td 35-37


			include _parts/_fast-link

		include _parts/_footer

		include _parts/_scripts