doctype html
html
	head
		meta(charset="utf-8")
		title Page list
		include _parts/_head
	body
		div(style="max-width: 1280px; margin: auto; padding: 0 40px;")
			ul(style="margin-bottom: 60px")
				li: a(href="main.html") Главная
				li: a(href="promo.html") Акции партнеров в городе
				li: a(href="glass.html") Стеклопакеты
				li: a(href="special-features.html") Специальные возможности
				li: a(href="buying-guide.html") Справочник покупателя
				li: a(href="articles.html") Справочник покупателя, статьи
				li: a(href="article.html") Справочник покупателя, статья
				li: a(href="buying-guide-video.html") Справочник покупателя, видео
				li: a(href="video-reviews.html") Видео-отзывы
				li: a(href="window-solutions.html") Оконные решения, город
				li: a(href="production.html") Продукция, главная
				li: a(href="customer-reviews.html") Отзывы покупателей
				li: a(href="partners-reviews.html") Отзывы о партнёрах
				li: a(href="compare.html") Сравнение
				li: a(href="calculator.html") Калькулятор
				li: a(href="help-choosing.html") Помощь в выборе
				li: a(href="double-glazing.html") Двухкамерные стеклопакеты
				li: a(href="search.html") Результаты поиска
				li: a(href="where-buy.html") Где купить
				li: a(href="promo-inner.html") Акции партнеров, детальное
				li: a(href="partner-inner.html") Партнер
				li: a(href="product.html") Продукция, детальная
				li: a(href="company.html") О Компании
				li: a(href="contact-list.html") Контакты
				li: a(href="404.html") 404
				li: a(href="ordering.html") Заказ
				li: a(href="news.html") Новости
				li: a(href="news-single.html") Новости, внутренняя
				li: a(href="profiles-veka.html") Профили VEKA
				li: a(href="profile.html") Профили VEKA, внутренняя
				li: a(href="guide.html") Справочник покупателя (ML)
				li: a(href="dealer.html") Партнерам main (ML)
				li: a(href="password-recovery.html") Восстановление пароля (ML)
				li: a(href="password-new.html") Восстановление пароля - новый пароль (ML)
				li: a(href="password-new-done.html") Восстановление пароля - новый пароль установлен (ML)
				li: a(href="login.html") Вход в личный кабинет (ML)
				li: a(href="registration.html") Регистрация + модаль(ML)
				li: a(href="registration-request-submitted.html") Заявка отправлена(ML)
				li: a(href="registration-request-sent.html") Заявка на регистрацию отправлена(ML)
				li: a(href="registration-email-confirmed.html") Почта подтверждена(ML)
				li: a(href="request-approve.html") Заявка одобрена (ML)
				li: a(href="request-approve-already.html") Заявка уже одобрена (ML)
				li: a(href="request-revoke.html") Отозвать заявку (ML)
				li: a(href="request-revoke-already.html") Заявитель уже отозвал заявку (ML)
				li: a(href="request-employee-approve.html") Заявка сотрудника - одобрена (ML)
				li: a(href="request-employee-reject.html") Заявка сотрудника - отклонена (ML)
				li: a(href="request-employee.html") Заявка сотрудника(ML)
				li: a(href="request-registration-employee.html") Заявка на регистрацию - сотрудник (ML)
				li: a(href="request-sample.html") Заявка на замер (ML)
				li: a(href="dealer-become.html") Стать диллером + модаль (ML)
				li: a(href="partner-become.html") Стать партнером + модаль (ML)
				li: a(href="documents.html") Документы (ML)
				li: a(href="employees-requests.html") Запросы сотрудников и дилеров (ML)
				li: a(href="employees.html") Сотрудники и Дилеры (ML)
				li: a(href="news-partners.html") Новости партнеров
				li: a(href="production-about.html") Производство VEKA
				li: a(href="career.html") Карьера VEKA
				li: a(href="professional.html") VEKA Professional
				li: a(href="contact-parthners.html") Контакты Партнерам
