doctype html
html
	head
		meta(charset="utf-8")
		title Восстановление пароля | Новый пароль
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main: .container
			section.password-new.user-forms
				.row
					.col-xs-12.col-sm-5
						form(class="user-forms__form", method="post", action="")
							.user-forms__form-head
								h2.user-forms__title Восстановление пароля

							fieldset.fieldset
								label.user-forms__label
									span.user-forms__labeltext
										| Новый пароль
									input(type="text", required="required", class="user-forms__input input")
							fieldset.fieldset
								label.user-forms__label
									span.user-forms__labeltext
										| Новый пароль ещё раз
									input(type="text", required="required", class="user-forms__input input")

							fieldset.fieldset
								button.button.blue.md.user-forms__button
									span Установить новый пароль


		include _parts/_footer

		include _parts/_scripts
