doctype html
html
	head
		meta(charset="utf-8")
		title Восстановление пароля | Новый пароль установлен
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main: .container
			section.password-new-done.user-forms
				.row
					.col-xs-12.col-sm-6
						h2.user-forms__title Восстановление пароля

						p.user-forms__text Новый пароль установлен. Войдите в личный кабинет используя новый пароль

						button.button.blue.md.user-forms__button.password-new-done__btn
							span Войти в личный кабинет


		include _parts/_footer

		include _parts/_scripts
