doctype html
html
	head
		meta(charset="utf-8")
		title Продукция, детальная
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main.main__content
			
			.print-section
				.print-header
					.print-header__logo
						a(href="/").logo
							.logo__icon
								img(src="images/logo.svg").logo-default

							.logo__text Надёжно. Навсегда.

					.print-header__phone 8 800 505-83-52
					.print-header__contact-info 
						|Контакт-центр VEKA. Режим работы 24/7<br>
						|Звонок бесплатный

					.print-header__qr
						.qr-code__elem
							.qr-code__image: img(src="images/tmp/qr-code.jpg")
							p Отсканируйте QR-код, чтобы<br> перейти на страницу решения

				.print-header__link
					|Источник: <span>http://www.veka.ru/products/win/euroline1.html</span>

			.main__breadcrumb
				.container
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item: a(href="#").breadcrumb__link Главная
							li.breadcrumb__item: a(href="#").breadcrumb__link Продукция
							li.breadcrumb__item: a(href="#").breadcrumb__link Оконные решения VEKA

			.main__section.main__section-bg.print-is-show
				.section-bg(style="background-image: url('images/tmp/production_back.jpg')"): img(src="images/tmp/production_back_m.jpg").visible-xs
				.container
					.main__section-head
						.top__head
							.medium__title Окно для защиты от шума
							p 
								|Шумоизолирующий стеклопакет — незаменимое приобретение для городов, 
								|а особенно — мегаполисов. Высокий уровень шума негативно сказывается 
								|на здоровье и человек находится в постоянном стрессе. Установка 
								|звукопоглощающего окна сохранит слух и избавит от «шумных» 
								|стрессов. 

							.window-tile__price.lg
								<b>10 200</b> <sub>руб.</sub> <span class="star-tip">*</span>
								.window-tile__tip Средняя цена за окно 1300 х 2000 мм

							.top__head-buttons
								a(href="#").button.blue.md
									+icon('calc-second')
									span Посчитать свой размер
								button.button.blue-border.md.js-inlineModal(data-mfp-src="#requestModal")
									+icon('tape')
									span Бесплатный замер

					.top__head-note
						span.star-tip * 
						|Cтоимость является ориентировочной и может отличаться в зависимости от комплектации заказа.


			.main__section.main__section-char.print-is-show
				.container
					.main__section-head.hidden-xs
						.medium__title Характеристики данного решения

					.main__section-body
						.row
							.col-md-6.col-sm-6.pull-right
								.image
									img(src="images/tmp/window_help_example.png")

									.window-tip(style="top: 12%; left: -10px")
										.window-tip__icon.js-windowToggleLink: +icon('plus')

										.window-tooltip
											.window-tooltip__container
												.window-tooltip__close.js-windowToogleClose: +icon('close-md')
												.window-tooltip__image: img(src="images/tmp/tooltip_image.jpg")

												.window-tooltip__content
													.small__title Поворотно-откидная фурнитура
													p 
														|Фурнитура для пластиковых окон – это набор 
														|элементов, при помощи которого происходит 
														|открывание и закрывание окна. Именно поэтому 
														|при выборе окна следует обратить особое 
														|внимание на качество применяемой фурнитуры. 
														|Чем надежнее будет конструкция, том большее 
														|количество времени она сможет прослужить без 
														|ремонтов и замены.
													a(href="#").link Подробнее

									.window-tip(style="top: 20%; left: 20%")
										.window-tip__icon.js-windowToggleLink: +icon('plus')

										.window-tooltip
											.window-tooltip__container
												.window-tooltip__close.js-windowToogleClose: +icon('close-md')
												.window-tooltip__image: img(src="images/tmp/tooltip_image.jpg")

												.window-tooltip__content
													.small__title Поворотно-откидная фурнитура
													p 
														|Фурнитура для пластиковых окон – это набор 
														|элементов, при помощи которого происходит 
														|открывание и закрывание окна. Именно поэтому 
														|при выборе окна следует обратить особое 
														|внимание на качество применяемой фурнитуры. 
														|Чем надежнее будет конструкция, том большее 
														|количество времени она сможет прослужить без 
														|ремонтов и замены.
													a(href="#").link Подробнее

									.window-tip(style="top: 43%; left: 50%")
										.window-tip__icon.js-windowToggleLink: +icon('plus')

										.window-tooltip
											.window-tooltip__container
												.window-tooltip__close.js-windowToogleClose: +icon('close-md')
												.window-tooltip__image: img(src="images/tmp/tooltip_image.jpg")

												.window-tooltip__content
													.small__title Поворотно-откидная фурнитура
													p 
														|Фурнитура для пластиковых окон – это набор 
														|элементов, при помощи которого происходит 
														|открывание и закрывание окна. Именно поэтому 
														|при выборе окна следует обратить особое 
														|внимание на качество применяемой фурнитуры. 
														|Чем надежнее будет конструкция, том большее 
														|количество времени она сможет прослужить без 
														|ремонтов и замены.
													a(href="#").link Подробнее

									.window-tip(style="top: 73%; left: 86%")
										.window-tip__icon.js-windowToggleLink: +icon('plus')

										.window-tooltip
											.window-tooltip__container
												.window-tooltip__close.js-windowToogleClose: +icon('close-md')
												.window-tooltip__image: img(src="images/tmp/tooltip_image.jpg")

												.window-tooltip__content
													.small__title Поворотно-откидная фурнитура
													p 
														|Фурнитура для пластиковых окон – это набор 
														|элементов, при помощи которого происходит 
														|открывание и закрывание окна. Именно поэтому 
														|при выборе окна следует обратить особое 
														|внимание на качество применяемой фурнитуры. 
														|Чем надежнее будет конструкция, том большее 
														|количество времени она сможет прослужить без 
														|ремонтов и замены.
													a(href="#").link Подробнее

									.window-tip(style="top: 93%; left: 17%")
										.window-tip__icon.js-windowToggleLink: +icon('plus')

										.window-tooltip
											.window-tooltip__container
												.window-tooltip__close.js-windowToogleClose: +icon('close-md')
												.window-tooltip__image: img(src="images/tmp/tooltip_image.jpg")

												.window-tooltip__content
													.small__title Поворотно-откидная фурнитура
													p 
														|Фурнитура для пластиковых окон – это набор 
														|элементов, при помощи которого происходит 
														|открывание и закрывание окна. Именно поэтому 
														|при выборе окна следует обратить особое 
														|внимание на качество применяемой фурнитуры. 
														|Чем надежнее будет конструкция, том большее 
														|количество времени она сможет прослужить без 
														|ремонтов и замены.
													a(href="#").link Подробнее

							.col-md-6.col-sm-6
								.medium__title.visible-xs Характеристики данного решения
								.table__char
									table 
										tr
											td: span Профиль
											td: span: a(href="#").link VEKA Softline
										tr
											td: span Количество камер
											td: span 5
										tr
											td: span Ширина профиля
											td: span 70 мм
										tr
											td: span Количество контуров уплотнения
											td: span 2
										tr
											td: span Стеклопакет
											td: span Энергосберегающий, двухкамерный стеклопакет, стёкла разной толщины, воздушные камеры разной ширины до 42 мм
										tr
											td: span Фурнитура
											td: span Поворотно-откидная
										tr
											td: span Открывание створок
											td: span Ступенчатое проветривание
										tr 
											td: span Цвет
											td: span Белый/цветной

						
								.button-group
									.button-group__elem
										button(data-mfp-src="3d-modal-ajax.html" data-mfp-ajax="ajax").button.blue.js-inlineModal.js-3dmodal
											span 3D обзор
											+icon('3d')
									.button-group__elem
										button(data-mfp-src="video-modal-ajax.html" data-mfp-ajax="ajax").button.blue.js-inlineModal
											span Видео
											+icon('play-md')
									.button-group__elem
										button.button.blue
											span Сравнить
											+icon('compare')

								.compare__links
									.compare__link-elem
										a(href="#").link Удалить из сравнения
									.compare__link-elem
										a(href="#").link Показать 3 товара

								.control__links
									a(href="#").control__link
										+icon('pdf')
										span Скачать
									a(href="#").control__link
										+icon('print')
										span Распечатать
									a(href="javascript:;").control__link.js-shareLink
										+icon('share')
										span Поделиться

										.share
											.share__inner
												script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
												script(src="//yastatic.net/share2/share.js")
												.ya-share2(data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp")

			.print-section
				.about-tile-print
					.about-tile-print__elem
						.about-tile-print__image: img(src="images/tmp/print-about-img.jpg")
						.about-tile-print__info
							.about-tile-print__title Поворотно-откидная фурнитура
							p Фурнитура для пластиковых окон – это набор элементов, при помощи которого происходит открывание и закрывание окна. Именно поэтому при выборе окна следует обратить особое внимание на качество применяемой фурнитуры. Чем надежнее будет конструкция, том большее количество времени она сможет прослужить без ремонтов и замены.
					.about-tile-print__elem
						.about-tile-print__image: img(src="images/tmp/print-about-img2.jpg")
						.about-tile-print__info
							.about-tile-print__title Надежно и безопасно
							p Приведенное сопротивление теплопередаче соответствует 1 классу изделий согласно ГОСТ 30673-99 и нормам DIN 4108 и EnEV
							p Звукоизоляция VDI 2719, классы шумозащиты от II до IV
							p Противовозломные характеристики соответствуют нормативам DIN V ENV 1627 - 1630
					.about-tile-print__elem
						.about-tile-print__image: img(src="images/tmp/print-about-img3.jpg")
						.about-tile-print__info
							.about-tile-print__title Сертификаты и лицензии
							p Сертификаты ведущих европейских институтов, сертификат Ростеста, гигиенические, пожарные сертификаты, сертификаты ISO и RAL.

				.print-footer
					.medium__title VEKA — ведущий мировой производитель оконных систем

					.qr-code__items
						.qr-code__elem
							.qr-code__image: img(src="images/tmp/qr-code.jpg")
							p <span>VEKA для iPhone и iPad</span><br>
								|Отсканируйте QR-код
						.qr-code__elem
							.qr-code__image: img(src="images/tmp/qr-code2.jpg")
							p <span>VEKA для Android</span><br>
								|Отсканируйте QR-код

			.main__section.window-profile__section
				.pattern-left-md.medium
				.gray__section
					.container
						.main__section-head
							.row
								.col-md-8.col-sm-8
									.medium__title Что делает окно VEKA самым эффективным средством защиты от шума?
						.main__section-body
							.row.flex-row
								.col-md-7.col-sm-7.window-profile-image
									.hidden-xs
										img(src="images/tmp/veka-profile.png")
									.visible-xs
										img(src="images/tmp/veka-profile-sm.png")
								.col-md-5.col-sm-5
									.medium__title Что делает окно VEKA самым эффективным средством защиты от шума?
									ul.tick-list
										li Стабильная многокамерная система с превосходными изолирующими характеристиками
										li Высокая шумоизоляция обеспечивает тишину и спокойствие Вашего дома
										li Высококачественный пластик, устойчивый к воздействиям внешней среды, не нуждается ни в покраске, ни в любом ином специальном уходе
										li Ровная гладкая поверхность
										li Использование специальных армирующих усилителей обеспечивает высокую стабильность конструкций
			
			.main__section.window-constructor__section
				.container
					.window-constructor__image.visible-xs: img(src="images/tmp/handle-lg.jpg")

					.window-constructor__box
						.modal__head.visible-xs
							.section__title.js-constructorModalTitle Варианты ламинации
							.modal__close.js-constructorModalClose: +icon('close-md')

						.window-constructor__image: img(src="images/tmp/handle-lg.jpg")
						
						.window-constructor__elem.js-laminationModalSection
							.section__title.hidden-xs Варианты ламинации
							.window-constructor__swiper.sm.js-laminationSwiper
								.arrow-prev: +icon('arrow-prev')
								.arrow-next: +icon('arrow-next')

								.swiper-container
									.swiper-wrapper
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-1.jpg')")
												.constructor-elem__title Белая пленка
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-2.jpg')")
												.constructor-elem__title Агатово-серый
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-3.jpg')")
												.constructor-elem__title Алый
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-4.jpg')")
												.constructor-elem__title Базальт
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-5.jpg')")
												.constructor-elem__title Болотная зелень
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-6.jpg')")
												.constructor-elem__title Горная сосна
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-7.jpg')")
												.constructor-elem__title Бриллиантово-синий
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-8.jpg')")
												.constructor-elem__title Болотный дуб
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-9.jpg')")
												.constructor-elem__title Винчестер
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-7.jpg')")
												.constructor-elem__title Бриллиантово-синий
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-8.jpg')")
												.constructor-elem__title Болотный дуб
										.swiper-slide
											.constructor-elem
												.constructor-elem__image(style="background-image: url('images/tmp/color-9.jpg')")
												.constructor-elem__title Винчестер

								.swiper-pagination

								.window-constructor__controls.visible-xs
									button.button.blue Выбрать
									button.button.blue-border.js-constructorModalClose Отменить

						.window-constructor__elem.js-colorModalSection
							.section__title Цвета ручек
							.window-constructor__swiper.md.js-colorSwiper
								.arrow-prev: +icon('arrow-prev')
								.arrow-next: +icon('arrow-next')
								
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											.constructor-elem.md
												.constructor-elem__image(style="background-image: url('images/tmp/handle.jpg')")
												.constructor-elem__title Белый матовый
										.swiper-slide
											.constructor-elem.md
												.constructor-elem__image(style="background-image: url('images/tmp/handle-2.jpg')")
												.constructor-elem__title Матовый титан
										.swiper-slide
											.constructor-elem.md
												.constructor-elem__image(style="background-image: url('images/tmp/handle-3.jpg')")
												.constructor-elem__title Средняя бронза
										.swiper-slide
											.constructor-elem.md
												.constructor-elem__image(style="background-image: url('images/tmp/handle-4.jpg')")
												.constructor-elem__title Натуральное золото
										.swiper-slide
											.constructor-elem.md
												.constructor-elem__image(style="background-image: url('images/tmp/handle-5.jpg')")
												.constructor-elem__title Черный матовый
										.swiper-slide
											.constructor-elem.md
												.constructor-elem__image(style="background-image: url('images/tmp/handle-4.jpg')")
												.constructor-elem__title Натуральное золото
										.swiper-slide
											.constructor-elem.md
												.constructor-elem__image(style="background-image: url('images/tmp/handle-5.jpg')")
												.constructor-elem__title Черный матовый

								.swiper-pagination

								.window-constructor__controls.visible-xs
									button.button.blue Выбрать
									button.button.blue-border.js-constructorModalClose Отменить

					.visible-xs
						button(data-constructor-modal=".js-laminationModalSection").button.blue.md.js-constructorModalLink Варианты ламинации
						button(data-constructor-modal=".js-colorModalSection").button.blue-light.md.js-constructorModalLink Цвета ручек

			.main__section.subscription__section(style="background-image: url('images/tmp/slide_example_r.jpg')")
				.container
					.main__form.left
						form(action="#").js-validate
							.main__form-head
								.main__title Поможем вам<br> с выбором!
								p Мы с удовольствием ответим на ваши вопросы и поможем <b>выбрать правильное решение!</b>

							.main__form-body
								fieldset.fieldset
									input(type="text" name="name" required="required" placeholder="Ваше имя").input
								fieldset.fieldset
									input(type="tel" name="phone" required="required" placeholder="Ваш телефон").input.js-phone
								fieldset.fieldset
									label.checkbox
										input(type="checkbox" name="user_agreement" required="required")
										span.checkbox__text Ознакомлен с <a href="#" target="_blank">Регламентом о защите персональных данных</a> и выражаю <a href="#" target="_blank">согласие</a> на их обработку
								fieldset.fieldset
									button.button.blue.md
										span Отправить заявку
										+icon('email')

				.main__pattern

			.main__section
				.container
					.main__section-head
						.main__title Что такое профиль Softline

					.main__section-body.js-advantageSwiper
						.swiper-mobile__nav
							.huge-arrow__left: +icon('huge-arrow-left')
							.huge-arrow__right: +icon('huge-arrow-right')

						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.advantage-elem
										.advantage-elem__icon: img(src="images/advantage-1.svg")
										.small__title Энергоэффективность 
										p Стабильная многокамерная система с превосходными изолирующими характеристиками
								.swiper-slide
									.advantage-elem
										.advantage-elem__icon: img(src="images/advantage-2.svg")
										.small__title Защита от шума 
										p Высокая шумоизоляция обеспечивает тишину и спокойствие Вашего дома
								.swiper-slide
									.advantage-elem
										.advantage-elem__icon: img(src="images/advantage-3.svg")
										.small__title Дизайн и долговечность 
										p Высококачественный пластик, устойчивый к воздействиям внешней среды, ровная гладкая поверхность в любом цвете и дизайне
								.swiper-slide
									.advantage-elem
										.advantage-elem__icon: img(src="images/advantage-4.svg")
										.small__title Прочность и надежность
										p Использование специальных армирующих усилителей обеспечивает высокую стабильность конструкции
						
			.main__section.work-example__section
				.work-example.js-workExampleSwiper
					.main__section-head.visible-xs
						.main__title Примеры работ от партнёров&nbsp;VEKA

					.swiper-mobile__nav
						.huge-arrow__left: +icon('huge-arrow-left')
						.huge-arrow__right: +icon('huge-arrow-right')

					.swiper-container
						.swiper-wrapper
							.swiper-slide.wide.hidden-xs
								.work-example__elem
									.pattern-left-md.medium
									.work-example__title
										.main__title Примеры работ<br> от партнёра VEKA
							.swiper-slide
								.work-example__elem(style="background-image: url('images/tmp/work-example.jpg')")
							.swiper-slide
								.work-example__elem(style="background-image: url('images/tmp/work-example2.jpg')")
							.swiper-slide
								.work-example__elem(style="background-image: url('images/tmp/work-example3.jpg')")
							.swiper-slide
								.work-example__elem(style="background-image: url('images/tmp/work-example4.jpg')")
							.swiper-slide
								.work-example__elem(style="background-image: url('images/tmp/work-example5.jpg')")
							.swiper-slide
								.work-example__elem(style="background-image: url('images/tmp/work-example6.jpg')")

					.swiper-pagination.visible-xs

				.container
					.main__section-footer.hidden-xs
						a(href="#").button.blue.md
							span Загрузить ещё
							img(src="images/refresh.png")

					//- .main__section-footer.visible-xs
					//- 	a(href="#").button.blue.md
					//- 		span Смотреть все
					//- 		img(src="images/refresh.png")


			.main__section
				.container
					.main__section-head
						.main__title Другие типовые решения VEKA

					.solution__slider.js-solutionsSwiper(data-multirow="false")
						.swiper-mobile__nav
							.huge-arrow__left: +icon('huge-arrow-left')
							.huge-arrow__right: +icon('huge-arrow-right')
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									a(href="#").window-tile__elem
										.window-tile__image: img(src="images/tmp/window_tile_example.jpg")
										.window-tile__title 
											+icon('arrow-right')
											|Простое окно
										.window-tile__description Мы рекомендуем это решение для квартир и коттеджей, находящихся в непосредственной близости от автомагистралей, дорог с оживленным движением, аэропортов и прочих источников шума.
										.window-tile__bottom
											.window-tile__price 6 300 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: button.button.blue-border.sm Посчитать свой размер
								.swiper-slide
									a(href="#").window-tile__elem
										.window-tile__image: img(src="images/tmp/window_tile_example2.jpg")
										.window-tile__title 
											+icon('arrow-right')
											|Окно для детской
										.window-tile__description Это специальное окно сделает детскую комнату максимально безопасной. Окно открывается только на проветривание. для полного открытия окна необходим ключ.
										.window-tile__bottom
											.window-tile__price 7 200 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: button.button.blue-border.sm Посчитать свой размер
								.swiper-slide
									a(href="#").window-tile__elem
										.window-tile__image: img(src="images/tmp/window_tile_example3.jpg")
										.window-tile__title 
											+icon('arrow-right')
											|Энергоэффективное окно
										.window-tile__description Такое окно эффективно сохраняет тепло в помещении и позволяет полностью отказаться от использования электрических нагревательных приборов в холодное время года.
										.window-tile__bottom
											.window-tile__price 10 200 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: button.button.blue-border.sm Посчитать свой размер

						.note__insert
							|<span class="star-tip">*</span> Cтоимость является ориентировочной и может отличаться в зависимости от комплектации заказа.

			include _parts/_fast-link

		include _parts/_footer

		include _parts/_scripts
