doctype html
html
	head
		meta(charset="utf-8")
		title Профили VEKA
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import
		
		include _parts/_header
		
		
		main.main__content

			.main__breadcrumb
				.container
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item: a(href="#").breadcrumb__link Главная
							li.breadcrumb__item: a(href="#").breadcrumb__link Профили VEKA

			.main__section
				.container
					.main__section-head
						.main__title Профили VEKA
					.main__section-body.profiles
						.row
							.col-md-4.col-sm-4.js-equalheight.tile
								a(href="#").tile__elem
									.tile__image.tile__image--center: img(src="images/tmp/compare_example.jpg")
									.tile__title
										+icon('arrow-right')
										|EUROLINE
									p
										|Возможна установка одно- и двухкамерных
										|стеклопакетов/ Рекомендуется для остекления
										|балконов, лоджий, дачных домов. Ваш выбор –
										|VEKA Euroline!
									.profiles__props
										span.profiles__prop
											span.profiles__prop-value 5
											span.profiles__prop-key Камеры
										span.profiles__prop
											span.profiles__prop-value A+
											span.profiles__prop-key Энергоэффективность
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").tile__elem
									.tile__image.tile__image--center: img(src="images/tmp/compare_example.jpg")
									.tile__title
										+icon('arrow-right')
										|EUROLINE
									p
										|Возможна установка одно- и двухкамерных
										|стеклопакетов/ Рекомендуется для остекления
										|балконов, лоджий, дачных домов. Ваш выбор –
										|VEKA Euroline!
									.profiles__props
										span.profiles__prop
											span.profiles__prop-value 5
											span.profiles__prop-key Камеры
										span.profiles__prop
											span.profiles__prop-value A+
											span.profiles__prop-key Энергоэффективность
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").tile__elem
									.tile__image.tile__image--center: img(src="images/tmp/compare_example.jpg")
									.tile__title
										+icon('arrow-right')
										|EUROLINE
									p
										|Возможна установка одно- и двухкамерных
										|стеклопакетов/ Рекомендуется для остекления
										|балконов, лоджий, дачных домов. Ваш выбор –
										|VEKA Euroline!
									.profiles__props
										span.profiles__prop
											span.profiles__prop-value 5
											span.profiles__prop-key Камеры
										span.profiles__prop
											span.profiles__prop-value A+
											span.profiles__prop-key Энергоэффективность
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").tile__elem
									.tile__image.tile__image--center: img(src="images/tmp/compare_example.jpg")
									.tile__title
										+icon('arrow-right')
										|EUROLINE
									p
										|Возможна установка одно- и двухкамерных
										|стеклопакетов/ Рекомендуется для остекления
										|балконов, лоджий, дачных домов. Ваш выбор –
										|VEKA Euroline!
									.profiles__props
										span.profiles__prop
											span.profiles__prop-value 5
											span.profiles__prop-key Камеры
										span.profiles__prop
											span.profiles__prop-value A+
											span.profiles__prop-key Энергоэффективность
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").tile__elem
									.tile__image.tile__image--center: img(src="images/tmp/compare_example.jpg")
									.tile__title
										+icon('arrow-right')
										|EUROLINE
									p
										|Возможна установка одно- и двухкамерных
										|стеклопакетов/ Рекомендуется для остекления
										|балконов, лоджий, дачных домов. Ваш выбор –
										|VEKA Euroline!
									.profiles__props
										span.profiles__prop
											span.profiles__prop-value 5
											span.profiles__prop-key Камеры
										span.profiles__prop
											span.profiles__prop-value A+
											span.profiles__prop-key Энергоэффективность
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").tile__elem
									.tile__image.tile__image--center: img(src="images/tmp/compare_example.jpg")
									.tile__title
										+icon('arrow-right')
										|EUROLINE
									p
										|Возможна установка одно- и двухкамерных
										|стеклопакетов/ Рекомендуется для остекления
										|балконов, лоджий, дачных домов. Ваш выбор –
										|VEKA Euroline!
									.profiles__props
										span.profiles__prop
											span.profiles__prop-value 5
											span.profiles__prop-key Камеры
										span.profiles__prop
											span.profiles__prop-value A++
											span.profiles__prop-key Энергоэффективность
			.main__section
				.container
					.main__section-head
						.medium__title Остекление. Профиль VEKA

					.main__section-body
						.row
							.col-md-6.col-sm-12
								p.company__text.profiles__text
									| Производитель пластикового профиля для остекления жилых и офисных
									| помещений компания VEKA предлагает широкий выбор вариантов профиля ПВХ.
								p.company__text.profiles__text
									| Мы предлагаем системы профилей для пластикового остекления окон, балконов,
									| лоджий, мансард, а также современнее решения для монтажа межкомнатных
									| дверей, офисных перегородок и  тамбуров. Наши профили идеальны для зимнего
									| остекления и позволяют сохранить тепло даже самой суровой зимой.

							.col-md-6.col-sm-12
								p.company__text.profiles__text
									| Мы приглашаем к сотрудничеству новых партнеров, и будем рады предложить
									| конкурентоспособные идеи для дома и офиса, раздвижные двери и балконные
									| блоки для квартир, усиленные конструкции с противовзломной фурнитурой
									| для нежилых построек.
								p.company__text.profiles__text
									| Системы профилей VEKA — это надежность, качество и доступность. Это
									| теплое решение для уюта в каждом доме. Это профиль, которому доверяют!




		include _parts/_footer

		include _parts/_scripts