doctype html
html
	head
		meta(charset="utf-8")
		title Заявка на регистрацию [сотрудник]
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main: .container
			section.request-registration-employee.user-forms
				#request-registration-employeeModal.modal.user-forms__modal.request-employee__modal
					.modal__box
						.modal__head
							h2.user-forms__title Антон Викторович Григорьев
							h5.user-forms__subtitle Сотрудник компании "Окна от природы"
							.modal__close.js-mfp-close: +icon('close-md')
						.modal__body
							.modal__form
								form(action="#").js-validate
									.request-employee__box
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Телефон
											.col-xs-9
												| +7 689 536 25 95
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Эл. почта
											.col-xs-9
												| user@mail
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Адрес
											.col-xs-9
												| Россия, Санкт-Петербург, 192086, Невский пр., д. 10, офис 1
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Пол
											.col-xs-9
												| мужской
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Подписки
											.col-xs-9
												| Уведомления партнёра:
												ul
													li - Заявка на замер
													li - Заявка на обратный звонок
													li - Заявка сотрудника
													li - Заявка на замер
													li - Новый отзыв
												| Уведомления сайта:
												ul
													li - Рассылка новостей: все темы

									.request-employee__box
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Номер заявки
											.col-xs-9
												| 36589
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Дата подачи
											.col-xs-9
												| 12.06.2017 12:00
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Последний вход
											.col-xs-9
												| 12.06.2017 12:00 с IP адреса 93.33.443.222
									fieldset.fieldset.modal__submit
										button.button.blue.md.user-forms__button.request-employee__btn
											span Переместить в сотрудники
										button.button.blue-border.md.user-forms__button.request-employee__btn
											span Отвязать от компании

		include _parts/_footer

		include _parts/_scripts
