doctype html
html
	head
		meta(charset="utf-8")
		title Заявка сотрудника
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main: .container
			section.request-employee.user-forms
				#request-employeeModal.modal.user-forms__modal.request-employee__modal
					.modal__box
						.modal__head
							h2.user-forms__title Заявка сотрудника
							.modal__close.js-mfp-close: +icon('close-md')
						.modal__body
							.modal__form
								p.user-forms__text В компанию "Окна от природы"" поступила заявка сотрудника. Рассмотрите её в течении 2 рабочих дней.

								form(action="#").js-validate
									.request-employee__box
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Имя, фамилия
											.col-xs-9
												| Антон Викторович Григорьев
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Пол
											.col-xs-9
												| мужской
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Телефон
											.col-xs-9
												| +7 689 536 25 95
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Эл. почта
											.col-xs-9
												| user@mail
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Адрес
											.col-xs-9
												| Россия, Санкт-Петербург, 192086, Невский пр., д. 10, офис 1
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Роль
											.col-xs-9
												| Сотрудник

									.request-employee__box
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| В компанию
											.col-xs-9
												| Окна от природы
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Комментарий
											.col-xs-9
												| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
												quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
												consequat.

									.request-employee__box
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Офис
											.col-xs-9
												| Россия, Санкт-Петербург, 192086, Невский пр., д. 10, офис 1
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Номер заявки
											.col-xs-9
												| 36589
										.row.registration__modal-row
											.col-xs-3.registration__modal-row-title
												| Дата и время
											.col-xs-9
												| 12.06.2017 12:00
									fieldset.fieldset.modal__submit
										button.button.blue.md.user-forms__button.request-employee__btn
											span Подтвердить
										button.button.blue-border.md.user-forms__button.request-employee__btn
											span Отклонить

		include _parts/_footer

		include _parts/_scripts
