extends ./_layout/_layout
include _mixin/_workingTable

block head
    - pageTitle = 'Настройки: смена пароля'

block content
    +b.MAIN.settings
        .container
            .breadcrumb
                ul.breadcrumb__list
                    li.breadcrumb__item: a(href="#").breadcrumb__link Главная
                    li.breadcrumb__item: a(href="#").breadcrumb__link Личный кабинет
                    li.breadcrumb__item: a(href="#").breadcrumb__link Настройки
            +e.H1.title.title Настройки
            +b.UL.setting-nav
                +e.item
                    +e.link(href="#") Личные данные
                +e.item
                    +e.link._active(href="#") Смена пароля
                +e.item
                    +e.link(href="#") Уведомления
                +e.item
                    +e.link(href="#") Типовые цены
                +e.item
                    +e.link(href="#") Время работы офисов

            +e.content
                +b.settings-password.user-forms

                    form(class="user-forms__form", method="post", action="")
                        .row
                            .col-xs-12.col-md-4
                                .user-forms__form-head
                                    h3.settings__subtitle Смена пароля

                                fieldset.fieldset
                                    label.user-forms__label
                                        span.user-forms__labeltext
                                            | Текущий пароль
                                        input(type="text", required="required", class="user-forms__input input")
                                fieldset.fieldset
                                    label.user-forms__label
                                        span.user-forms__labeltext
                                            | Новый пароль
                                        input(type="text", required="required", class="user-forms__input input")
                                fieldset.fieldset
                                    label.user-forms__label
                                        span.user-forms__labeltext
                                            | Новый пароль ещё раз
                                        input(type="text", class="user-forms__input input")

                                fieldset.fieldset
                                    label.user-forms__label
                                        +e.BUTTON.button.blue.button
                                            span сохранить