doctype html
html
	head
		meta(charset="utf-8")
		title Специальные возможности
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main.main__content
			
			.main__breadcrumb
				.container
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item: a(href="#").breadcrumb__link Главная
							li.breadcrumb__item: a(href="#").breadcrumb__link Продукция
							li.breadcrumb__item: a(href="#").breadcrumb__link Специальные возможности

			.main__section.tile__section
				.container
					.main__section-head
						.main__title Специальные возможности

					.main__section-body
						.row 
							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example.jpg")
									.tile__title 
										+icon('arrow-right')
										|Профильные системы VEKA
									p Мы предлагаем системы профилей для пластикового остекления окон, балконов, лоджий, мансард, а также современнее решения для монтажа межкомнатных дверей, офисных перегородок и  тамбуров. Наши профили идеальны для зимнего остекления и позволяют сохранить тепло даже самой суровой зимой.
							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example3.jpg")
									.tile__title 
										+icon('arrow-right')
										|Стеклопакеты
									p Совмещенные стеклопакеты бывают узкоспециализированные и многофункциональные. Они служат как для защиты от солнечных лучей, так и для сохранения тепла. Очень важной характеристкой стеклопакета является шумоизоляция.
							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example5.jpg")
									.tile__title 
										+icon('arrow-right')
										|Фурнитура
									p Исправное функционирование правильно смонтированных оконных систем и их долговечность в значительной степени зависят от использования качественной фунитуры.
							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example6.jpg")
									.tile__title 
										+icon('arrow-right')
										|Ламинация окон
									p Все меньше и меньше людей ориентируются на классический вариант окон с белым покрытием. Это не удивительно, ведь для создания уникального фасада или дополнения к уже имеющемуся дизайну предпочтительны разнообразное сочетание цветов и оттенков.

							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example7.jpg")
									.tile__title 
										+icon('arrow-right')
										|Различная форма окон
									p Профиль VEKA позволяют выполнить оконный профиль различной формы - круглые, овальные, арочные. треугольные, шестиугольные и трапециевидные, созданные специалистами на специальном оборудовании.
							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example8.jpg")
									.tile__title 
										+icon('arrow-right')
										|Подоконники
									p В летний зной поиск прохлады - самое естественное желание. Защититься от палящих солнечных лучей можно различными способами: зашторить окна, затонировать стекла или закрыть жалюзи. Однако, в этом случае вы попадаете в мрачное помещение, нуждающееся в подсветке. 
							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example9.jpg")
									.tile__title 
										+icon('arrow-right')
										|Москитные сетки
									p Исправное функционирование правильно смонтированных оконных систем и их долговечность в значительной степени зависят от использования качественной фунитуры.
							.col-md-3.col-sm-3.js-equalheight
								a(href="#").tile__elem
									.tile__image: img(src="images/tmp/glass_example10.jpg")
									.tile__title 
										+icon('arrow-right')
										|Откосы и отливы
									p Это не удивительно, ведь для создания уникального фасада или дополнения к уже имеющемуся дизайну предпочтительны разнообразное сочетание цветов и оттенков.


			.main__section.char__section
				.container
					.article
						.row
							.col-md-6.col-sm-6
								p Главное действующее «лицо» любого стеклопакета - стекло. Обладая высокой прозрачностью, долговечностью, оно является идеальным строительным материалом. Кварцевый песок, известняк и сода - основные вещества, из которых производится стекло. Что же представляет собой стеклопакет? Это объемное изделие,  из двух или трех листов стекла, соединенных между собой по контуру с помощью дистанционной рамки и герметиков, образующих герметически замкнутые  камеры, заполненные осушенным воздухом или другим газом. В зависимости от числа камер стеклопакеты подразделяются на виды: СПО - стеклопакет однокамерный и СПД - стеклопакет двухкамерный. Разберем однокамерный стеклопакет, его достоинства и недостатки. Так называемый «базовый»- это однокамерный стеклопакет толщиной 24 мм (4М1-16-4М1). 
							.col-md-6.col-sm-6
								h6 Все виды стеклопакетов для установки в окна и двери
								ul.list
									li однокамерные и двухкамерные прозрачные стеклопакеты;
									li энергосберегающие стеклопакеты с низкоэмиссионным стеклом;
									li стеклопакеты с «теплой» рамкой;
									li мультифункциональные стеклопакеты (защищающие 
									li одновременно от холода зимой и от жары летом);
									li самоочищающиеся стеклопакеты;
									li стеклопакеты с использованием декоративного стекла различных цветов;
									li стеклопакеты с внутренней раскладкой (фальшпереплет);
									li стеклопакеты с заклеенным стеклом и триплексом.
 
			include _parts/_fast-link

		include _parts/_footer

		include _parts/_scripts