doctype html
html
	head
		meta(charset="utf-8")
		title Видео-отзывы
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main.main__content
			
			.main__breadcrumb
				.container
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item: a(href="#").breadcrumb__link Главная
							li.breadcrumb__item: a(href="#").breadcrumb__link Видео-отзывы

			.main__section.tile__section
				.container
					.main__section-head
						.main__title Видео-отзывы

					.main__section-body
						.row.video__list
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").video-tile
									.video-tile__image
										img(src="images/tmp/video_example.jpg")
										span.play-icon
									.video-tile__title Отзывы о пластиковых окнах. Часть&nbsp;1
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").video-tile
									.video-tile__image
										img(src="images/tmp/video_example2.jpg")
										span.play-icon
									.video-tile__title Отзывы о пластиковых окнах. Часть&nbsp;2
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").video-tile
									.video-tile__image
										img(src="images/tmp/video_example3.jpg")
										span.play-icon
									.video-tile__title Отзывы о пластиковых окнах. Часть&nbsp;3
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").video-tile
									.video-tile__image
										img(src="images/tmp/video_example2.jpg")
										span.play-icon
									.video-tile__title Отзывы о пластиковых окнах. Часть&nbsp;4
							.col-md-4.col-sm-4.js-equalheight
								a(href="#").video-tile
									.video-tile__image
										img(src="images/tmp/video_example.jpg")
										span.play-icon
									.video-tile__title Отзывы о пластиковых окнах. Часть&nbsp;5

						.load-more__button.visible-xs
							a(href="#").button.blue.md
								span Загрузить ещё
								img(src="images/refresh.png")
			

 
			include _parts/_fast-link

		include _parts/_footer

		include _parts/_scripts