doctype html
html
	head
		meta(charset="utf-8")
		title Оконные решения VEKA
		include _parts/_head
	body
		//- for svg
		include svg-symbols
		//- mixin
		include _mixin/_import

		include _parts/_header


		main.main__content
			
			.main__breadcrumb
				.container
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item: a(href="#").breadcrumb__link Главная
							li.breadcrumb__item: a(href="#").breadcrumb__link Продукция
							li.breadcrumb__item: a(href="#").breadcrumb__link Оконные решения VEKA

			.main__section
				.container
					.main__section-head
						.main__title Оконные решения VEKA
						p Указаны средние цены по <span class="dotted__link">Новосибирску</span>

					.main__section-body
						.window-solution
							.row
								.col-md-4.col-sm-4.js-equalheight
									.window-tile__elem
										.window-tile__image: a(href="#"): img(src="images/tmp/window_tile_example.jpg")
										.window-tile__title
											a(href="#") 
												+icon('arrow-right')
												|Окно для защиты от шума
										.window-tile__description Мы рекомендуем это решение для квартир и коттеджей, находящихся в непосредственной близости от автомагистралей, дорог с оживленным движением, аэропортов и прочих источников шума.
										.window-tile__bottom
											.window-tile__price 6 300 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: a(href="#").button.blue-border.sm Посчитать свой размер
								.col-md-4.col-sm-4.js-equalheight
									.window-tile__elem
										.window-tile__image: a(href="#"): img(src="images/tmp/window_tile_example2.jpg")
										.window-tile__title
											a(href="#") 
												+icon('arrow-right')
												|Окно для детской
										.window-tile__description Это специальное окно сделает детскую комнату максимально безопасной. Окно открывается только на проветривание. для полного открытия окна необходим ключ.
										.window-tile__bottom
											.window-tile__price 7 200 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: a(href="#").button.blue-border.sm Посчитать свой размер
								.col-md-4.col-sm-4.js-equalheight
									.window-tile__elem
										.window-tile__image: a(href="#"): img(src="images/tmp/window_tile_example3.jpg")
										.window-tile__title
											a(href="#") 
												+icon('arrow-right')
												|Энергоэффективное окно
										.window-tile__description Такое окно эффективно сохраняет тепло в помещении и позволяет полностью отказаться от использования электрических нагревательных приборов в холодное время года.
										.window-tile__bottom
											.window-tile__price 10 200 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: a(href="#").button.blue-border.sm Посчитать свой размер
								.col-md-4.col-sm-4.js-equalheight
									.window-tile__elem
										.window-tile__image: a(href="#"): img(src="images/tmp/window_tile_example4.jpg")
										.window-tile__title
											a(href="#") 
												+icon('arrow-right')
												|Окно для защиты от шума
										.window-tile__description Мы рекомендуем это решение для квартир и коттеджей, находящихся в непосредственной близости от автомагистралей, дорог с оживленным движением, аэропортов и прочих источников шума.
										.window-tile__bottom
											.window-tile__price 7 200 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: a(href="#").button.blue-border.sm Посчитать свой размер
								.col-md-4.col-sm-4.js-equalheight
									.window-tile__elem
										.window-tile__image: a(href="#"): img(src="images/tmp/window_tile_example5.jpg")
										.window-tile__title
											a(href="#")
												+icon('arrow-right')
												|Окно с защитой от взлома
										.window-tile__description Окна на первых и последних этажах зданий всегда могут привлечь нежелательное внимание злоумышленников, чтобы обезопасить свое жилище от проникновения, установите окна с защитой от взлома.
										.window-tile__bottom
											.window-tile__price 7 200 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: a(href="#").button.blue-border.sm Посчитать свой размер
								.col-md-4.col-sm-4.js-equalheight
									.window-tile__elem
										.window-tile__image: a(href="#"): img(src="images/tmp/window_tile_example6.jpg")
										.window-tile__title
											a(href="#") 
												+icon('arrow-right')
												|Окно для загородного дома
										.window-tile__description Многообразие цветов и оттенков, окна нестандартной формы, противовзломные и энергосберегающие технологии - все это мы предлагаем для владельцев загородных домов и коттеджей.
										.window-tile__bottom
											.window-tile__price 15 200 <sub>руб.</sub> <span class="star-tip">*</span>
											.window-tile__tip за окно 1300 х 2000 мм
											.window-tile__button: a(href="#").button.blue-border.sm Посчитать свой размер

							.note__insert
								|<span class="star-tip">*</span> Cтоимость является ориентировочной и может отличаться в зависимости от комплектации заказа.

			.main__section
				.container
					.main__section-head
						.main__title Другие типовые решения VEKA
						
					.main__services
						a(href="#").service-tile__elem
							.service-tile__icon: img(src="images/plastic-door.svg")
							.service-tile__title: span.link Пластиковые двери
						a(href="#").service-tile__elem
							.service-tile__icon: img(src="images/arch-window.svg")
							.service-tile__title: span.link Решения для коттеджей и загородных домов
						a(href="#").service-tile__elem
							.service-tile__icon: img(src="images/balconies.svg")
							.service-tile__title: span.link Остекление балконов и лоджий

			include _parts/_fast-link
			
			.main__section.subscription__section(style="background-image: url('images/back/subscription_back_second.jpg')")
				.container
					.main__form.left
						form(action="#").js-validate
							.main__form-head
								.main__title Заявка&nbsp;на&nbsp;замер
							.main__form-body
								fieldset.fieldset
									input(type="text" name="city" required="required" placeholder="Новосибирск, Новосибирская область, Р..").input
								fieldset.fieldset
									input(type="text" name="name" required="required" placeholder="Ваше имя").input
								fieldset.fieldset
									input(type="tel" name="phone" required="required" placeholder="Ваш телефон").input.js-phone
								fieldset.fieldset
									input(type="text" name="text" required="required" placeholder="Ваши пожелания").input
									p Здесь Вы можете указать общие пожелания по своему заказу, желаемое время связи прочую информацию которую сочтете необходимой.
								fieldset.fieldset
									label.checkbox
										input(type="checkbox" name="user_agreement" required="required")
										span.checkbox__text Ознакомлен с <a href="#" target="_blank">Регламентом о защите персональных данных</a> и выражаю <a href="#" target="_blank">согласие</a> на их обработку
								fieldset.fieldset
									button.button.blue.md
										span Отправить заявку
										+icon('email')

		include _parts/_footer

		include _parts/_scripts