include ../_mixin/_import

.main__section.fast-link__section
	.container
		.main__pattern
		.fast-links
			.flex__grid
				a(href="#").fast-link__elem
					.fast-link__title
						+icon('filter')
						span.link Помощь в выборе
					p Пройдите несложный онлайн тест, чтобы определить какое решение VEKA подойдет для вашего дома или квартиры.<br> Всего 5 минут!
				a(href="#").fast-link__elem
					.fast-link__title
						+icon('calc')
						span.link Калькулятор
					p Рассчитайте стоимость своего заказа на основе выбранного типа окна или двери, размеров и свойств конструкции, а так же дополнительных характеристик.
				a(href="#").fast-link__elem
					.fast-link__title
						+icon('reference')
						span.link Справочник покупателя
					p Статьи и видео о пластиковых окнах: как выбрать, как купить, как ухаживать и много другой полезной информации.
