meta(content="width=device-width, maximum-scale=1" name="viewport")
link(rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon")
link(rel="icon" href="images/favicon/favicon.png")
link(rel="icon" sizes="57x57" href="images/favicon/favicon-32x32.png")
link(rel="icon" sizes="57x57" href="images/favicon/favicon-57x57.png")
link(rel="icon" sizes="72x72" href="images/favicon/favicon-72x72.png")
link(rel="icon" sizes="76x76" href="images/favicon/favicon-76x76.png")
link(rel="icon" sizes="114x114" href="images/favicon/favicon-114x114.png")
link(rel="icon" sizes="120x120" href="images/favicon/favicon-120x120.png")
link(rel="icon" sizes="144x144" href="images/favicon/favicon-144x144.png")
link(rel="icon" sizes="152x152" href="images/favicon/favicon-152x152.png")

meta(name="msapplication-TileColor" content="#FFFFFF")
meta(name="msapplication-TileImage" content="images/favicon/favicon-144x144.png")
meta(name="application-name" content="Website Title")

link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|Roboto:300,400,700,900" rel="stylesheet")
link(rel="stylesheet" href="css/main.css" type='text/css')
