.pager 
	a(href="#").pager__prev
		+icon('huge-arrow-left')
		span Предыдущая
	.pager__list
		a(href="#").pager__link 5
		span.pager__link.is-active 6
		a(href="#").pager__link 7
		.pager__link ...
		a(href="#").pager__link 22
	a(href="#").pager__next
		span Следующая
		+icon('huge-arrow-right')