.personal-data

	.section__title Личные данные

	form(action="#")
		fieldset.fieldset
			input(type="text" name="your_name" placeholder="Ваше имя" value="").input

		fieldset.fieldset
			input(type="tel" name="your_phone" placeholder="+7(___)___-__-__" value="").input.js-phone

		fieldset.fieldset
			input(type="email" name="your_mail" placeholder="E-mail" value="").input

		fieldset.fieldset
			textarea(name="your_message" placeholder="Ваш комментарий").input
