script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
script(src="https://maps.google.com/maps/api/js?key=AIzaSyDajf4gY1zv4bHmTA5tIOEPJopcThl-jS4&libraries=places&language=ru")
script(src="js/vendor.js")
script(src="js/main.js")