.icon-3d {
  width: 30px;
  height: 30px;
}

.icon-answers {
  width: 25px;
  height: 22px;
}

.icon-apple {
  width: 26px;
  height: 33px;
}

.icon-arrow-back {
  width: 18px;
  height: 17px;
}

.icon-arrow-bottom {
  width: 299px;
  height: 161px;
}

.icon-arrow-left {
  width: 26px;
  height: 18px;
}

.icon-arrow-next {
  width: 18px;
  height: 34px;
}

.icon-arrow-prev {
  width: 18px;
  height: 34px;
}

.icon-arrow-right {
  width: 11px;
  height: 18px;
}

.icon-article {
  width: 24px;
  height: 22px;
}

.icon-calc-second {
  width: 26px;
  height: 26px;
}

.icon-calc {
  width: 50px;
  height: 50px;
}
.st0{fill:#2775ba}

.icon-calendar {
  width: 24px;
  height: 22px;
}

.icon-camera {
  width: 29px;
  height: 25px;
}

.icon-career {
  width: 28px;
  height: 24px;
}

.icon-check {
  width: 16px;
  height: 16px;
}

.icon-circle-arrow {
  width: 16px;
  height: 16px;
}

.icon-clip {
  width: 18px;
  height: 20px;
}

.icon-clipboard {
  width: 512px;
  height: 512px;
}

.icon-close-md {
  width: 14px;
  height: 14px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-compare {
  width: 30px;
  height: 27px;
}

.icon-doc {
  width: 19px;
  height: 22px;
}

.icon-edit {
  width: 24px;
  height: 24px;
}

.icon-email {
  width: 36px;
  height: 18px;
}
.st0{fill:#fff}

.icon-filter {
  width: 50px;
  height: 52px;
}
.st0{fill:#2775ba}

.icon-huge-arrow-left {
  width: 18px;
  height: 11px;
}

.icon-huge-arrow-right {
  width: 18px;
  height: 11px;
}

.icon-list-news {
  width: 24px;
  height: 22px;
}

.icon-list {
  width: 30px;
  height: 30px;
}
.st0{fill:#1b1c1c}

.icon-location {
  width: 11px;
  height: 16px;
}
.st0{fill:#231f20}

.icon-login {
  width: 26px;
  height: 22px;
}

.icon-logout {
  width: 24px;
  height: 24px;
}
.st0{fill:none}
.st1{fill:#cbd2d5}

.icon-logout2 {
  width: 24px;
  height: 24px;
}
.st0{fill:none}
.st1{fill:#cbd2d5}

.icon-magnifier {
  width: 47px;
  height: 45px;
}

.icon-mail-send {
  width: 16px;
  height: 17px;
}

.icon-mail {
  width: 30px;
  height: 21px;
}

.icon-more-dealer {
  width: 22px;
  height: 22px;
}

.icon-notes {
  width: 18px;
  height: 18px;
}
.cls-1{opacity:.2}

.icon-pdf {
  width: 38px;
  height: 38px;
}

.icon-phone-call {
  width: 24px;
  height: 24px;
}

.icon-phone-fax {
  width: 16px;
  height: 17px;
}

.icon-phone-ring {
  width: 16px;
  height: 16px;
}

.icon-phone {
  width: 26px;
  height: 26px;
}
.st0{fill:#0074b8}

.icon-pic {
  width: 16px;
  height: 14px;
}
.st0{fill:#231f20}

.icon-pin-place {
  width: 24px;
  height: 24px;
}

.icon-pin {
  width: 22px;
  height: 31px;
}

.icon-plane {
  width: 30px;
  height: 27px;
}

.icon-planet {
  width: 18px;
  height: 18px;
}
.st0{fill:#cbd2d5}

.icon-plastic-win-icon {
  width: 50px;
  height: 54px;
}

.icon-plastic-window {
  width: 92px;
  height: 92px;
}

.icon-play-lg {
  width: 46px;
  height: 46px;
}

.icon-play-md {
  width: 30px;
  height: 30px;
}

.icon-play {
  width: 16px;
  height: 16px;
}

.icon-plus {
  width: 18px;
  height: 18px;
}

.icon-pointer-map {
  width: 32px;
  height: 30px;
}
.st0{fill:#1b1c1c}

.icon-price-tag {
  width: 512px;
  height: 512px;
}

.icon-print-map {
  width: 24px;
  height: 22px;
}

.icon-print {
  width: 40px;
  height: 38px;
}

.icon-profile-guide {
  width: 46px;
  height: 56px;
}

.icon-profile {
  width: 40px;
  height: 62px;
}

.icon-promo {
  width: 16px;
  height: 16px;
}

.icon-reference {
  width: 40px;
  height: 50px;
}
.st0{fill:#2775ba}

.icon-refresh {
  width: 22px;
  height: 16px;
}

.icon-registration-dealer {
  width: 20px;
  height: 24px;
}

.icon-review {
  width: 50px;
  height: 40px;
}

.icon-route {
  width: 24px;
  height: 24px;
}

.icon-search {
  width: 24px;
  height: 24px;
}
.st0{fill:#272727}

.icon-share {
  width: 31px;
  height: 37px;
}
.st0{fill:#2775ba}

.icon-star {
  width: 16px;
  height: 15px;
}

.icon-tape {
  width: 33px;
  height: 30px;
}

.icon-trash {
  width: 20px;
  height: 22px;
}

.icon-un-check {
  width: 18px;
  height: 18px;
}
.cls-1{fill:#696c6f;fill-opacity:0;stroke:#c5cdd1;stroke-linejoin:round;stroke-width:2px}

.icon-user {
  width: 30px;
  height: 30px;
}

.icon-video-camera {
  width: 28px;
  height: 20px;
}

.icon-video {
  width: 48px;
  height: 48px;
}

.icon-window-type-2 {
  width: 30px;
  height: 33px;
}

.icon-window-type-3 {
  width: 47px;
  height: 37px;
}

.icon-window-type-4 {
  width: 38px;
  height: 42px;
}

.icon-window-type-5 {
  width: 44px;
  height: 45px;
}

.icon-window-type-6 {
  width: 30px;
  height: 45px;
}

.icon-window-type-7 {
  width: 38px;
  height: 49px;
}

.icon-window-type {
  width: 24px;
  height: 33px;
}

.icon-window {
  width: 22px;
  height: 20px;
}

.icon-wrench {
  width: 28px;
  height: 28px;
}

